[Desktop Entry]
Type=Application
Name=LiveSplit
Exec=LiveSplit
Icon=org.livesplit.LiveSplit
Categories=Utility;Game;
MimeType=application/x-livesplit-splits;application/x-livesplit-layout;
Terminal=false
